<ul class="alert alert-danger" *ngIf="errores?.length>0">
  <li *ngFor="let err of errores">{{err}}</li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
  <form #clienteForm="ngForm">
    <div class="form-group row">
      <label for="nombre1" class="col-form-label col-sm-2">Nombre</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre1"  #nombre="ngModel"> <!--required minlength="4"-->
        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors.required">Nombre es requerido</div>
          <div *ngIf="nombre.errors.minlength">Nombre debe tener mínimo 4 carácteres</div>
        </div>
      </div>
    </div>
     <div class="form-group row">
      <label for="apellido1" class="col-form-label col-sm-2">Apellido</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido1"#apellido="ngModel" > <!--  required minlength="5"  -->
        <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
          <div *ngIf="apellido.errors.required">Apellido es requerido</div>
          <div *ngIf="apellido.errors.minlength">Apellido debe tener mínimo 5 carácteres</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="email1" class="col-form-label col-sm-2">Email</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email1" #email="ngModel"> <!--  required email -->
        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors.required">email es requerido</div>
          <div *ngIf="email.errors.email">El email debe tener formato válido</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
     <div class="col-sm-6">
       <input [matDatepicker]="myDatepicker" class="form-control" [(ngModel)]="cliente.createAt" name="createAt" style="display:inline; width: 300px">
        <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
     </div>
    </div>

    <div class="form-group row">
      <label for="partner" class="col-form-label col-sm-2">Fecha</label>
     <div class="col-sm-6">
       <select [compareWith]="compararPartner" class="form-control" [(ngModel)]="cliente.partner" name="partner" style="display:inline; width: 500px">
         <option [ngValue]="undefined"> --- Seleccionar un Partner ---- </option>
        <option *ngFor="let partner of partners" [ngValue]="partner">{{partner.nombre}}</option>
      </select>
     </div>
    </div>

  <div class="form-group row">
    <div class="col-sm-6">
      <button class="btn btn-primary" role="button" (click)='create()' *ngIf='!cliente.id else elseBlock' >Crear</button> <!-- [disabled]="!clienteForm.form.valid" -->
      <ng-template #elseBlock>
        <button class="btn btn-primary" role="button" (click)='update()'>Updatear</button> <!-- [disabled]="!clienteForm.form.valid" -->
      </ng-template>
    </div>
  </div>

  </form>
</div>
</div>
